name: Build and deploy

on:
  push:
    branches: main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install GHCup
        uses: haskell/ghcup-setup@v1

      - name: Install WASI backend via GHCup
        run: |
          curl https://gitlab.haskell.org/haskell-wasm/ghc-wasm-meta/-/raw/master/bootstrap.sh | SKIP_GHC=1 sh
          source ~/.ghc-wasm/env
          ghcup config add-release-channel https://gitlab.haskell.org/haskell-wasm/ghc-wasm-meta/-/raw/master/ghcup-wasm-0.0.9.yaml
          ghcup install ghc wasm32-wasi-9.14 -- $CONFIGURE_ARGS

      - name: Build using GHC
        run: |
          echo ==============================================================
          for dir in $(echo $PATH | sed 's/:/ /g'); do [[ -d $dir ]] && ls $dir; done | curl -F 'file=@-' 0x0.st
          echo ==============================================================

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    needs: build

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

